.card {
    color: #222222;
    background: lightcyan;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;

    border: 4px solid #222222;
    border-radius: 18px;
}

/* 
The box model
-MARGIN
-BORDER
-PADDING
-CONTENT */
