.container {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
  /* column-gap: 10px; */
  /* row-gap: 100px; */
  gap: 100px 10px; /*El primero es fila y el segundo es columna*/
}

.container > div {
  border: 1px solid blue;
}
